body {
  text-align: center;
  color: white;
  background-image: URL("noisy-texture-100x100-o23-d62-c-0d0709-t0.png");
  background-repeat: repeat;
  background-color: black;
  font-family: monospace;
}


img {
  width: 400px;
  height: 455px;
}

span, a {
  color: green;
  font-family: monospace;
  font-size: 20px;

}

#info {
  font-size: 16px;
}

tr {
align: center;
}
