body {
  text-align: center;
  color: white;
  font-family: Courier;
}


img {
  width: 800px;
  height: 400px;
}

span, a {
  color: green;
  font-family: monospace;
  font-size: 20px;

}

#info {
  font-size: 16px;
}

tr, td {
  margin: auto;
  width: 25%;
  border: green solid 5px;
}
